<!DOCTYPE html>
<html>
<head>
    <title>Compfest Birthday Cake</title>
</head>
<body>
    Happy Birthday to You<br>
    Happy Birthday to You<br>
    Happy Birthday Dear You.<br>
    Happy Birthday to You.<br>
    <br>
    From good friends and true,<br>
    From old friends and new,<br>
    May good luck go with you,<br>
    And happiness too.<br>
    <br>
    <img src="https://www.thespruceeats.com/thmb/_Nm_RnbxaaHHUhOzh0z4nQM0JsA=/2078x1169/smart/filters:no_upscale()/GettyImages-126551741-3ca5347bbe0d46cea7bc2b71f40d2136.jpg" height="200" width="400">
    <br>
    <p>Hope you can see the flag, don't forget to wrap it with COMPFEST12{}</p>
    <p>See you next time :D</p>
</body>
</html>
